@model IEnumerable<ProductType>

<br/><br/>
    <h1 class="text-center"> WEL COME </h1>
    <br>
<div class="text-center">
    <h5>
        Learn About  <a asp-action="create" class="btn btn-link ">
            &nbsp;building&nbsp;Web&nbsp;Apps&nbsp;With&nbsp;ASP.NET&nbsp;Core.

        </a>
    </h5>
</div>
     